//Module styles
body {
  background: rgb(129,81,103); /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover,  rgba(129,81,103,1) 0%, rgba(85,81,104,1) 40%, rgba(39,51,77,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(129,81,103,1)), color-stop(40%,rgba(85,81,104,1)), color-stop(100%,rgba(39,51,77,1))); /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(129,81,103,1) 0%,rgba(85,81,104,1) 40%,rgba(39,51,77,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover,  rgba(129,81,103,1) 0%,rgba(85,81,104,1) 40%,rgba(39,51,77,1) 100%); /* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover,  rgba(129,81,103,1) 0%,rgba(85,81,104,1) 40%,rgba(39,51,77,1) 100%); /* IE10+ */
  background: radial-gradient(ellipse at center,  rgba(129,81,103,1) 0%,rgba(85,81,104,1) 40%,rgba(39,51,77,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#815167', endColorstr='#27334d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.col-md-12 {
  float: left;
}

.logo {
  background: $blue;
  color: $white;
  display: inline-block;
  height: 100%;
  text-transform: uppercase;
  text-align: center;
  width: 15%;

  &:hover {
    background: $blue;
    color: $white;
    text-decoration: underline;
  }

  h1 {
    display: inline-block;
  }
}

.site-title-bar {
  background: $white;
  box-shadow: 0 0 30px #333;
  height: 8rem;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000;

  .container {
    padding-left: 7px;
    padding-right: 7px;
  }

  nav {
    float: right;
    height: 100%;
    padding-top: 2.5rem;
    width: 85%;
  }
}

.site-nav {
  display: inline-block;

  ul {
    height: 100%;
    padding: 0;
  }

  li {
    display: inline-block;
    height: 100%;
    text-align: center;
    width: 16%;
    
    &:after {
      content: '~';
      float: right;
    }

    a {
      color: $black;
      font-weight: bold;

    }

    input {
      width: 100%;
    }
  }

  li:nth-child(5),
  li:last-child {    

    &:after {
      content: '';
      float: none;
    }
  }
}

.banner {
  display: table;
  height: 100%;
  width: 100%;
}

.banner-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  h1,
  h2 {
    display: inline-block;
  }

  h1 {
    background: #999;
    background: rgba(0, 0, 0, .2);
    border: 1px solid $white;
    color: $white;
    font-size: 9.6rem;
    padding: 8%;
    width: 100%;
    text-transform: uppercase;
  }

  h2 {
    background: $white;
    border-top: 5px solid $blue;
    color: $blue;
    display: inline-block;
    font-size: 2.1rem;
    margin: 0;
    padding: 1.5%;
    position: relative;
    top: -50px;
    width: 33%;
  }
}

.feature-tall {
  width: 100%;

}

.feature-short {
  font-size: 90%;
  position: relative;
  width: 100%;

  .feature-short_header {
    background: $white;
    float: left;
    padding: 2rem 2.75rem 0;
    width: 100%;

    p {
      margin: 0;
    }

    h1 {
      margin: 1rem 0;
    }
  }

  .feature-short_content {
    background: $white;
    height: 53%;
    padding: 0 2.75rem;

    p:last-child {
      margin-bottom: 0;
    }
  }

  .feature-short_link {
    background: -moz-linear-gradient(top,  rgba(96,96,96,1) 0%, rgba(187,187,187,0.17) 57%, rgba(255,255,255,0.17) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,96,96,1)), color-stop(57%,rgba(187,187,187,0.17)), color-stop(100%,rgba(255,255,255,0.17))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(187,187,187,0.17) 57%,rgba(255,255,255,0.17) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(187,187,187,0.17) 57%,rgba(255,255,255,0.17) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(96,96,96,1) 0%,rgba(187,187,187,0.17) 57%,rgba(255,255,255,0.17) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(96,96,96,1) 0%,rgba(187,187,187,0.17) 57%,rgba(255,255,255,0.17) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#2bffffff',GradientType=0 ); /* IE6-9 */

    bottom: 0;
    border: 1px solid white;
    display: flex;
    padding: 0 2.75rem;
    width: 100%;

    a {
      color: $white;  
      margin: auto 0;
    }
  }
}



.feature-wide {
  width: 100%;
  margin-top: 30px; // to match bootstrap gutters
}

.site-footer {
  background: #dedadb;
  float: left;
  margin-top: 8rem;
  width: 100%;

  .logo-contain {
    border-top: 3px solid $gold;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -45px;
    width: 20%;
    
    .logo {
      border: 10px solid $white;
      display: block;
      margin: 0 auto;
      width: auto;
    }
  }
  
  .site-nav {
    display: block;
    margin: 0 auto;
    width: 80%;

    ul {
      width: 100%;
      
      li {
        width: 20%;
      }
    }
  }
}
