//State styles

/* Small **********************************************************/
@media screen and (min-width: $break-small) {

}

/* Medium *********************************************************/
@media screen and (min-width: $break-medium) {

  .feature {
    padding-right: 0;
  }

  .feature-sidebar {
    padding-left: 0;
  }

  .feature-tall {
    height: 103rem; // magic numbery to account for gutters
  }

  .feature-short {
    height: 50rem;

    .feature-short_image {
      height: 35%;
    }
    .feature-short_link {
      position: absolute;
      height: 12%;
    }
  }

  .feature-wide {
    height: 50rem;
  }
  
  .site-footer {
    height: 24rem;
  }
}

/* Large **********************************************************/
@media screen and (min-width: $break-large) {
  
}
