/* line 4, ../sass/_base.scss */
html,
body {
  height: 100%;
  overflow-x: hidden;
}

/* line 9, ../sass/_base.scss */
html {
  font-size: 1em;
  font-size: 43.75%;
}
@media (min-width: 768px) {
  /* line 9, ../sass/_base.scss */
  html {
    font-size: 50%;
  }
}
@media (min-width: 992px) {
  /* line 9, ../sass/_base.scss */
  html {
    font-size: 56.25%;
  }
}
@media (min-width: 1200px) {
  /* line 9, ../sass/_base.scss */
  html {
    font-size: 62.5%;
  }
}

/* line 28, ../sass/_base.scss */
body {
  font-size: 1.8em;
}

/* line 32, ../sass/_base.scss */
h1 {
  font-size: 3.6rem;
}

/* line 36, ../sass/_base.scss */
h2 {
  font-size: 3.2rem;
}

/* line 40, ../sass/_base.scss */
h3 {
  font-size: 3rem;
}

/* line 44, ../sass/_base.scss */
h4 {
  font-size: 2.4rem;
}

/* line 48, ../sass/_base.scss */
h5 {
  font-size: 2rem;
}

/* line 52, ../sass/_base.scss */
h6 {
  font-size: 1.8rem;
}

/* line 58, ../sass/_base.scss */
.master,
.container,
.row {
  height: 100%;
}

/* line 62, ../sass/_base.scss */
.feature-tall {
  background: white;
  overflow: hidden;
}

/* line 70, ../sass/_base.scss */
.feature-wide {
  background: white;
}

/* line 2, ../sass/_modules.scss */
body {
  background: #815167;
  /* Old browsers */
  /* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #815167), color-stop(40%, #555168), color-stop(100%, #27334d));
  /* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #815167 0%, #555168 40%, #27334d 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 12+ */
  /* IE10+ */
  background: -webkit-radial-gradient(center, ellipse, #815167 0%, #555168 40%, #27334d 100%);
  background: radial-gradient(ellipse at center, #815167 0%, #555168 40%, #27334d 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#815167', endColorstr='#27334d',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

/* line 13, ../sass/_modules.scss */
.col-md-12 {
  float: left;
}

/* line 17, ../sass/_modules.scss */
.logo {
  background: #4072b9;
  color: white;
  display: inline-block;
  height: 100%;
  text-transform: uppercase;
  text-align: center;
  width: 15%;
}
/* line 26, ../sass/_modules.scss */
.logo:hover {
  background: #4072b9;
  color: white;
  text-decoration: underline;
}
/* line 32, ../sass/_modules.scss */
.logo h1 {
  display: inline-block;
}

/* line 37, ../sass/_modules.scss */
.site-title-bar {
  background: white;
  -webkit-box-shadow: 0 0 30px #333;
          box-shadow: 0 0 30px #333;
  height: 8rem;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000;
}
/* line 48, ../sass/_modules.scss */
.site-title-bar .container {
  padding-left: 7px;
  padding-right: 7px;
}
/* line 53, ../sass/_modules.scss */
.site-title-bar nav {
  float: right;
  height: 100%;
  padding-top: 2.5rem;
  width: 85%;
}

/* line 61, ../sass/_modules.scss */
.site-nav {
  display: inline-block;
}
/* line 64, ../sass/_modules.scss */
.site-nav ul {
  height: 100%;
  padding: 0;
}
/* line 69, ../sass/_modules.scss */
.site-nav li {
  display: inline-block;
  height: 100%;
  text-align: center;
  width: 16%;
}
/* line 75, ../sass/_modules.scss */
.site-nav li:after {
  content: '~';
  float: right;
}
/* line 80, ../sass/_modules.scss */
.site-nav li a {
  color: black;
  font-weight: bold;
}
/* line 86, ../sass/_modules.scss */
.site-nav li input {
  width: 100%;
}
/* line 94, ../sass/_modules.scss */
.site-nav li:nth-child(5):after,
.site-nav li:last-child:after {
  content: '';
  float: none;
}

/* line 101, ../sass/_modules.scss */
.banner {
  display: table;
  height: 100%;
  width: 100%;
}

/* line 107, ../sass/_modules.scss */
.banner-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 113, ../sass/_modules.scss */
.banner-content h1,
.banner-content h2 {
  display: inline-block;
}
/* line 117, ../sass/_modules.scss */
.banner-content h1 {
  background: #999;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid white;
  color: white;
  font-size: 9.6rem;
  padding: 8%;
  width: 100%;
  text-transform: uppercase;
}
/* line 128, ../sass/_modules.scss */
.banner-content h2 {
  background: white;
  border-top: 5px solid #4072b9;
  color: #4072b9;
  display: inline-block;
  font-size: 2.1rem;
  margin: 0;
  padding: 1.5%;
  position: relative;
  top: -50px;
  width: 33%;
}

/* line 142, ../sass/_modules.scss */
.feature-tall {
  width: 100%;
}

/* line 147, ../sass/_modules.scss */
.feature-short {
  font-size: 90%;
  position: relative;
  width: 100%;
}
/* line 152, ../sass/_modules.scss */
.feature-short .feature-short_header {
  background: white;
  float: left;
  padding: 2rem 2.75rem 0;
  width: 100%;
}
/* line 158, ../sass/_modules.scss */
.feature-short .feature-short_header p {
  margin: 0;
}
/* line 162, ../sass/_modules.scss */
.feature-short .feature-short_header h1 {
  margin: 1rem 0;
}
/* line 167, ../sass/_modules.scss */
.feature-short .feature-short_content {
  background: white;
  height: 53%;
  padding: 0 2.75rem;
}
/* line 172, ../sass/_modules.scss */
.feature-short .feature-short_content p:last-child {
  margin-bottom: 0;
}
/* line 177, ../sass/_modules.scss */
.feature-short .feature-short_link {
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #606060), color-stop(57%, rgba(187, 187, 187, 0.17)), color-stop(100%, rgba(255, 255, 255, 0.17)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #606060 0%, rgba(187, 187, 187, 0.17) 57%, rgba(255, 255, 255, 0.17) 100%);
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, left top, left bottom, from(#606060), color-stop(57%, rgba(187, 187, 187, 0.17)), to(rgba(255, 255, 255, 0.17)));
  background: linear-gradient(to bottom, #606060 0%, rgba(187, 187, 187, 0.17) 57%, rgba(255, 255, 255, 0.17) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#606060', endColorstr='#2bffffff',GradientType=0 );
  /* IE6-9 */
  bottom: 0;
  border: 1px solid white;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2.75rem;
  width: 100%;
}
/* line 192, ../sass/_modules.scss */
.feature-short .feature-short_link a {
  color: white;
  margin: auto 0;
}

/* line 201, ../sass/_modules.scss */
.feature-wide {
  width: 100%;
  margin-top: 30px;
}

/* line 206, ../sass/_modules.scss */
.site-footer {
  background: #dedadb;
  float: left;
  margin-top: 8rem;
  width: 100%;
}
/* line 212, ../sass/_modules.scss */
.site-footer .logo-contain {
  border-top: 3px solid #cea35f;
  display: block;
  margin: 0 auto;
  position: relative;
  top: -45px;
  width: 20%;
}
/* line 220, ../sass/_modules.scss */
.site-footer .logo-contain .logo {
  border: 10px solid white;
  display: block;
  margin: 0 auto;
  width: auto;
}
/* line 228, ../sass/_modules.scss */
.site-footer .site-nav {
  display: block;
  margin: 0 auto;
  width: 80%;
}
/* line 233, ../sass/_modules.scss */
.site-footer .site-nav ul {
  width: 100%;
}
/* line 236, ../sass/_modules.scss */
.site-footer .site-nav ul li {
  width: 20%;
}

/* Small **********************************************************/
/* Medium *********************************************************/
@media screen and (min-width: 992px) {
  /* line 11, ../sass/_state.scss */
  .feature {
    padding-right: 0;
  }

  /* line 15, ../sass/_state.scss */
  .feature-sidebar {
    padding-left: 0;
  }

  /* line 19, ../sass/_state.scss */
  .feature-tall {
    height: 103rem;
  }

  /* line 23, ../sass/_state.scss */
  .feature-short {
    height: 50rem;
  }
  /* line 26, ../sass/_state.scss */
  .feature-short .feature-short_image {
    height: 35%;
  }
  /* line 29, ../sass/_state.scss */
  .feature-short .feature-short_link {
    position: absolute;
    height: 12%;
  }

  /* line 35, ../sass/_state.scss */
  .feature-wide {
    height: 50rem;
  }

  /* line 39, ../sass/_state.scss */
  .site-footer {
    height: 24rem;
  }
}
/* Large **********************************************************/
/* line 20, ../sass/theme.scss */
.design-credit {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 9999;
}
