/* line 4, ../sass/_base.scss */
html,
body {
  height: 100%;
  overflow-x: hidden;
}

/* line 9, ../sass/_base.scss */
html {
  font-size: 1em;
  font-size: 43.75%;
}
@media (min-width: 768px) {
  /* line 9, ../sass/_base.scss */
  html {
    font-size: 50%;
  }
}
@media (min-width: 992px) {
  /* line 9, ../sass/_base.scss */
  html {
    font-size: 56.25%;
  }
}
@media (min-width: 1200px) {
  /* line 9, ../sass/_base.scss */
  html {
    font-size: 62.5%;
  }
}

/* line 28, ../sass/_base.scss */
body {
  font-size: 1.8em;
}

/* line 32, ../sass/_base.scss */
h1 {
  font-size: 3.6rem;
}

/* line 36, ../sass/_base.scss */
h2 {
  font-size: 3.2rem;
}

/* line 40, ../sass/_base.scss */
h3 {
  font-size: 3rem;
}

/* line 44, ../sass/_base.scss */
h4 {
  font-size: 2.4rem;
}

/* line 48, ../sass/_base.scss */
h5 {
  font-size: 2rem;
}

/* line 52, ../sass/_base.scss */
h6 {
  font-size: 1.8rem;
}

/* line 58, ../sass/_base.scss */
.master,
.container,
.row {
  height: 100%;
}

/* line 62, ../sass/_base.scss */
.feature-tall {
  background: white;
  overflow: hidden;
}

/* line 67, ../sass/_base.scss */
.feature-short {
  background: white;
}

/* line 71, ../sass/_base.scss */
.feature-wide {
  background: white;
}

/* line 2, ../sass/_modules.scss */
body {
  background: #4072b9;
}

/* line 6, ../sass/_modules.scss */
.logo {
  background: #4072b9;
  color: white;
  display: inline-block;
  height: 100%;
  text-transform: uppercase;
  text-align: center;
  width: 15%;
}
/* line 15, ../sass/_modules.scss */
.logo:hover {
  background: #4072b9;
  color: white;
  text-decoration: underline;
}
/* line 21, ../sass/_modules.scss */
.logo h1 {
  display: inline-block;
}

/* line 26, ../sass/_modules.scss */
.site-title-bar {
  background: white;
  -webkit-box-shadow: 0 0 30px #333;
          box-shadow: 0 0 30px #333;
  height: 8rem;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000;
}
/* line 37, ../sass/_modules.scss */
.site-title-bar .container {
  padding-right: 0;
}
/* line 41, ../sass/_modules.scss */
.site-title-bar nav {
  float: right;
  height: 100%;
  padding-top: 2.5rem;
  width: 85%;
}

/* line 49, ../sass/_modules.scss */
.site-nav {
  display: inline-block;
}
/* line 52, ../sass/_modules.scss */
.site-nav ul {
  height: 100%;
  padding: 0;
}
/* line 57, ../sass/_modules.scss */
.site-nav li {
  display: inline-block;
  height: 100%;
  text-align: center;
  width: 16%;
}
/* line 63, ../sass/_modules.scss */
.site-nav li:after {
  content: '~';
  float: right;
}
/* line 68, ../sass/_modules.scss */
.site-nav li a {
  color: black;
  font-weight: bold;
}
/* line 74, ../sass/_modules.scss */
.site-nav li input {
  width: 100%;
}
/* line 82, ../sass/_modules.scss */
.site-nav li:nth-child(5):after,
.site-nav li:last-child:after {
  content: '';
  float: none;
}

/* line 89, ../sass/_modules.scss */
.banner {
  display: table;
  height: 100%;
  width: 100%;
}

/* line 95, ../sass/_modules.scss */
.banner-content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
/* line 101, ../sass/_modules.scss */
.banner-content h1,
.banner-content h2 {
  display: inline-block;
}
/* line 105, ../sass/_modules.scss */
.banner-content h1 {
  background: #999;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid white;
  color: white;
  font-size: 9.6rem;
  padding: 8%;
  width: 100%;
  text-transform: uppercase;
}
/* line 116, ../sass/_modules.scss */
.banner-content h2 {
  background: white;
  border-top: 5px solid #4072b9;
  color: #4072b9;
  display: inline-block;
  font-size: 2.1rem;
  margin: 0;
  padding: 1.5%;
  position: relative;
  top: -50px;
  width: 33%;
}

/* line 130, ../sass/_modules.scss */
.feature-wide {
  margin-top: 30px;
}

/* line 3, ../sass/_layout.scss */
.feature {
  padding-right: 0;
}

/* line 7, ../sass/_layout.scss */
.feature-sidebar {
  padding-left: 0;
}

/* Small **********************************************************/
/* Medium *********************************************************/
@media screen and (min-width: 992px) {
  /* line 10, ../sass/_state.scss */
  .feature-tall {
    height: 99rem;
  }

  /* line 13, ../sass/_state.scss */
  .feature-short {
    height: 48rem;
  }

  /* line 16, ../sass/_state.scss */
  .feature-wide {
    height: 48rem;
  }
}
/* Large **********************************************************/
/* line 19, ../sass/theme.scss */
.design-credit {
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 9999;
}
